.mainarea_container{
    margin-left: 16vw;
    padding: 2rem;
    height: 100%;
}

.grid{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap:1rem;
    margin-top: 2rem;

    .row_one{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 50%;
        gap: 1rem;
    }

    .row_two{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 50%;
        gap: 1rem;
    }

}