.widgets{
    flex:1;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    box-shadow: 6px 7px 6px 0px rgba(224, 219, 219, 0.72);
        -webkit-box-shadow: 6px 7px 6px 0px rgba(224, 219, 219, 0.72);
        -moz-box-shadow: 6px 7px 6px 0px rgba(224, 219, 219, 0.72);
        /*https: //www.webfx.com/blog/web-design/css-box-shadow/ for box shadow geenrator*/ 
    border-radius: 10px;
    height: 100px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            font-weight: bold;
            font-size: 15px;
            color: rgb(152, 151, 151);
        }

        .counter{
            font-weight: 300;
            font-size: 30px;
            color:rgb(152, 151, 151);
        }

        .link{
            font-size: 14px;
            font-weight: 300;
            color: rgb(152,151,151);
            border-bottom: 0.5px solid rgb(152, 151, 151);
            width:max-content;
        }

        .percentage{
            display: flex;
            align-items: center;
            font-size: 16px;

            &.positive{
              color: green;      
            }

            &.negative{
              color: red;      
            }
        
            

        }

                .icon {
                    font-size: 18px;
                    padding: 5px;
                    background-color: #e0dfdf;
                    border-radius: 7px;
                    align-self: flex-end;
                    /*aligns item itself and not all items at end of*/
                }
    }
}