.infoarea_container{
    display: flex;
    justify-content: space-between;
    
}



.title .h1_small {
    font-size: 1rem;
}

.title .logosize {
    width: 17vh;
    height: auto;
    gap: 1rem;    
}

.search{
    background-color: var(--background);
    display: flex;
    align-items: center;
    gap:1rem;
    padding: 1rem 5rem 1rem 1rem;
    border-radius: 8px 4px;
}

input{
    background-color: transparent;
    border: none;
    &::placeholder{
        color: var(--secondary-dark);
    }
    &:focus{
        outline:none;
    }
}

@media screen and (min-width: 280px) and (max-width:1140px){
    .infoarea_container{
        flex-direction: column;
        justify-content: space-between;

        .title{
            h4{
                font-size:1.2rem
            }
            .h1_small{
                font-size: 1.2rem;
            }

            .logosize{
                width: 150px;
                height: auto;
            }
        }

        .search{
            margin-top: 1rem;
        }

    }
}

