.about{
    width: 100%;
    text-align:center;
    padding: 3rem 1rem;
    background-color: var(--background);
    margin-top: 50px;

}

.about h2{
    margin: 1rem 0;
    
}

.about .container{
    max-width: 1140px;
    margin: auto;
}

.about .container >p{
    margin: 1rem 0;
    font-size: 1.3rem;
    
}

.about .card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

.about .card{
    flex-direction: column;
    justify-content: space-between;
    height: 390px;
    padding: 3rem 2rem;
    text-align: center;
    border-radius: 0px 20px;
    
    margin: auto;
    background-color: var(--white);

}

.about .card:hover{
    transform: scale(1.03);
    transition: 0.03s ease-in-out;
    border: 2px solid var(--secondary-bright);
}

.about .card h3{
    margin:1rem;
    color: var(--secondary-dark);
    font-size: 900;
    text-transform: uppercase;
}

.about .card p{
    color: var(--secondary-dark)
}

.about .icon-container{
    background-color: var(--secondary-bright);
    border-radius: 0 10px;
    display:inline-flex;
    padding: 1rem;

}

.about .icon{
    font-size: 3rem;
    color: var(--white)
}

@media screen and (max-width:940px) {
    .about .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about .card{
        height: 300px;
    }
}

@media screen and (max-width:600px) {
    .about .card-container {
        grid-template-columns: 1fr;
    }
}