.chart {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 12rem;
        background-color: var(--background);
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 8px 4px;
        margin: 0.15rem;

    .title {
        margin-bottom: 20px;
    }

    .chartGrid {
        stroke: rgb(228, 225, 225);
    }
}