

.register {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--rollover);

}



    .registertitle {
        font-size: 1.5rem;
        color: var(--secondary-dark);
        margin-bottom: 2rem;
        font-weight:600;
        
    }

    label {
        margin: 1rem 0;
        font-size: 1.5rem;
        color: var(--white);
        width:60px;
    }

    input {
        padding: 10px;
        background-color: #fff;
        margin-bottom: 1rem;
    }


.register_btn {
    padding: 17px 28px;
    font-size: 1.0rem;
    color: var(--white);
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: var(--secondary-dark);
    border: none;
    border-radius: 4px 8px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-main);
        border: none;
        color: var(--secondary-dark);
    }
}

.register_btn_outline {
    padding: 17px 28px;
    font-size: 1.0rem;
    color: var(--white);
    font-weight: 600;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: var(--secondary-bright);
    border: none;
    border-radius: 4px 8px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary-main);
        border: none;
        color: var(--secondary-dark);
    }
}



.register_btn_reg {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background: var(--secondary-color);

    color: var(--white)
}

@media screen and (max-width:940px){
    input{
        width: 100%;
    }
}