:root   {
            --primary-main: #97C8EB; //global colour pallette to use through site
            --primary-teal: #DDDBF1;
            --secondary-color: #2A5A86;
            --secondary-dark: #093A3E ;
            --secondary-bright: #97c8ebb2;
            --overlay: rgba(0, 0, 0, .7);
            --white: #fff;
            --background: #f5f7f8;
        }

.main{
    color: var(--white)
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

ul      {
            list-style-type: none;
        }

a       {
            text-decoration: none;
            color:var(--primary-blue)
        }

p{
    color: var(--secondary-dark)
}

h1 {
    font-size: 4em;
}

h2{
    font-size: 3rem;
    color: var(--secondary-dark);
}

.btn {
            padding: 17px 28px;
            font-size: 1.2rem;
            color: var(--white);
            font-weight: 600;
            
            background-color: var(--secondary-dark);
            border: none;
            border-radius: 4px 8px;
            cursor: pointer;

            &:hover{
                background-color: var(--primary-main);
                border: none;
                color: var(--white);
            }
        }

.btn-outline{
    background: transparent;
    border: 1px solid var(--secondary-dark);
    color: var(--primary-blue)
}

.line     {
            display: block;
            width: 40px;
            height: 3px;
            margin: 5px auto;
            background-color: var(--primary-color);
        }
        

@media screen and (max-width:940px) {
    h1{
        font-size: 3rem;        
    }

    h2{
        font-size: 2rem;
        margin: 10px 0px;
    }
}

@media screen and (max-width:495px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}
