.overview {
    flex: 4;
    box-shadow: 6px 7px 6px 0px rgba(224, 219, 219, 0.72);
        -webkit-box-shadow: 6px 7px 6px 0px rgba(224, 219, 219, 0.72);
        -moz-box-shadow: 6px 7px 6px 0px rgba(224, 219, 219, 0.72);
        /*https: //www.webfx.com/blog/web-design/css-box-shadow/ for box shadow geenrator*/
}