.menubar {
    background: var(--secondary-bright);
    width: 100%;
    height: 90px;
    border-bottom: 5px solid var(--primary-main);
    
}


.menubar .logosize{
    width: auto;
    height: 45px;
    padding-left: 15px;
}

.menubar .container {
    max-width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menubar .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}



.menubar li{
    padding: 1rem;
    
}

.menubar .icon{
    color: var(--white);
    font-size: 2rem;
}

.menubar h1,a{
    color:var(--secondary-dark)

}




.hamburger{
    display:none;
}
@media screen and (max-width:940px){
    .hamburger{
        display: block;
        padding-right: 10px;
    }

.menubar .logosize {
    width: 250px;
    height: auto;
    
}

    

    .nav {
        position: absolute;
        flex-direction: column;
        justify-content: start !important;
        top: 90px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: var(--secondary-bright) !important;
        transition: 0.2sec;
    }

    .nav.active{
        left:0
    }

    .nav a{
        font-size: 1.4rem;

    }
} 